
<div class="row">

  <div class="col s12">
      <h4 class="center-align"><%= @blogger.first_name %> <%= @blogger.last_name %>
          <%= image_tag @blogger.image.url(:thumb), class: "circle responsive-img"%></h4>
        <p class="lead center-align"><%= @blogger.bio %></p>
  </div>

  <div class="col s12 m8 offset-m2">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%= link_to post.title, post_path(@blogger, post) %></span>
              <p class="truncate"><%= post.content %></p>
          </div>
          <% if signed_in? %>
          <div class="card-action">
            <%= link_to "Edit Post", edit_post_path(post) %>
            <%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: 'Really Delete?'} %>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- notes -->
<!-- # :posts,
# :post_ids,
# :posts=,
# :post_ids=,
post.user_id == @blogger.id
#
# user_id is 1 but I can't call user_id
# @blogger.id
# @posts.ids
#
# @blogger.posts shows all posts from current user -->
