

<h1><%= @post.title %></h1>

<div>
	<p><%= @post.content %></p>
</div>

COMMENT SECTION
<%= render(partial: 'list_comments') %>

<%= link_to "Edit Post", edit_blogger_post_path(@blogger, @post) %>
<br />
<%= link_to "Delete Post", blogger_post_path(@blogger, @post), method: :delete, data { confirm: 'Really Delete?'} %>  
<br />
<%= link_to "Back to #{@blogger}", blogger_path(@blogger) %>